@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: head;
  src: url(/src/assets/progress-font/ProgressPersonalUse-EaJdz.ttf);
}
@font-face {
  font-family: texts;
  src: url(/src/assets/ZTMota-Regular.ttf);
}